body {
  font-family: arial;
  background-color: rgba(144, 238, 144, 0.072);
}
.app {
  text-align: center;
  margin-top: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.todo button {
  margin-left: 5px;
  border: none;
}

input {
  padding: 5px;
  margin: 10px;
}

button {
  padding: 5px 10px;
}
.app button {
  border: none;
  background-color: lightgreen;
}
.completeBtn {
  background-color: yellow !important;
  color: black;
}
.deleteBtn {
  background-color: red !important;
  color: white;
}
.done {
  text-decoration: line-through;
  background-color: rgba(144, 238, 144, 0.285);
}
